version: '3.8'

services:
  # BFF Service (Nest.js)
  backend-bff:
    build: ./backend-bff
    ports:
      - "3000:3000"
    environment:
      - FASTAPI_ML_URL=http://backend-ml:8000
    depends_on:
      - backend-ml

  # ML Service (FastAPI)
  backend-ml:
    build: ./backend-ml
    ports:
      - "8001:8000"