services:
  # --- BFF Service (Nest.js) ---
  backend-bff:
    build: ./backend-bff
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - FASTAPI_ML_URL=http://backend-ml:8000
      - ML_ADMIN_API_KEY=${ML_ADMIN_API_KEY}
      - MONGO_URI=${MONGO_URI}
    depends_on:
      - backend-ml
    networks:
      - justiniano-network

  # --- ML Service (FastAPI) ---
  backend-ml:
    build: ./backend-ml
    environment:
      - ML_ADMIN_API_KEY=${ML_ADMIN_API_KEY}
      - QDRANT_HOST=qdrant-db
      - QDRANT_PORT=6333
      - OLLAMA_HOST=http://192.168.1.15:11434
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - ./backend-ml:/app
      - /var/run/docker.sock:/var/run/docker.sock
      - shared_data:/app/shared_data
    depends_on:
      - qdrant-db
    networks:
      - justiniano-network

  # --- Vector Database (Qdrant) ---
  qdrant-db:
    image: qdrant/qdrant:v1.15.5
    container_name: justiniano_qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    environment:
      - QDRANT__SERVICE__ENABLE_TELEMETRY=false
    networks:
      - justiniano-network

  # --- NoSQL Database (MongoDB) ---
  mongo-db:
    image: mongo:6.0
    container_name: justiniano_mongo
    ports:
      - "27017:27017"
    env_file:
      - .env
    volumes:
      - ./mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    networks:
      - justiniano-network

networks:
  justiniano-network:
    driver: bridge

volumes:
  qdrant_data:
  shared_data:
  mongo_data:
